#temp_level{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 100px;
  left: 250px;
}

#temp_level_label{
  position: absolute;
  top: 110px;
  left: 165px;
}
#hum_level{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 100px;
  left: 450px;
}

#hum_level_label{
  position: absolute;
  top: 110px;
  left: 385px;
}

#avg_temp{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 150px;
  left: 250px;
}

#avg_temp_label{
  position: absolute;
  top: 160px;
  left: 155px;
}

#avg_hum{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 150px;
  left: 450px;
}

#avg_hum_label{
  position: absolute;
  top:160px;
  left: 330px;
}

#max_temp{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 200px;
  left: 250px;
}

#max_temp_label{
  position: absolute;
  top: 210px;
  left: 95px;
}

#max_hum{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 200px;
  left: 450px;
}

#max_hum_label{
  position: absolute;
  top: 210px;
  left: 315px;
}

#min_hum{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 250px;
  left: 450px;
}

#min_temp_label{
  position: absolute;
  top: 260px;
  left: 100px;
}

#min_temp{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:50px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 250px;
  left: 250px;
}

#time{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:80px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 300px;
  left: 450px;
}

#date_box{
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:80px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#ffffff;
  color:#000000;
  float:left;
  position: absolute;
  top: 300px;
  left: 250px;
}

#date_label{
  position: absolute;
  top: 310px;
  left: 150px;
}

#time_label{
  position: absolute;
  top: 310px;
  left: 350px;
}

#min_hum_label{
  position: absolute;
  top: 260px;
  left: 320px;
}

#get_temp{
  position: absolute;
  top:100px;
  left:550px;
}

#get_humidity{
  position: absolute;
  top:100px;
  left:680px;
}

#CtoF{
  position: absolute;
  top:300px;
  left:580px;
}

#get_avg_temp{
  position: absolute;
  top:150px;
  left:550px;
}

#get_avg_hum{
  position: absolute;
  top:150px;
  left:680px;
}

#get_max_temp{
  position: absolute;
  top:200px;
  left:550px;
}

#get_max_hum{
  position: absolute;
  top:200px;
  left:680px;
}

#get_min_temp{
  position: absolute;
  top:250px;
  left:550px;
}

#get_min_hum{
  position: absolute;
  top:250px;
  left:680px;
}

#Heading{
  position: absolute;
  top:0px;
  left:350px;
}

#logout{
  position: absolute;
  top:300px;
  left:680px;
}

#plot{
  position: absolute;
  top:350px;
  left:630px;
}
